.home {
    justify-content: center;
    align-content: center;
    background-image: url("../assets/Logga.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 20%;
    width: 100vw;
    height: 100vh;
    
}

.home_about{
    display:flex;
    justify-content: center;
    align-items: center;

}




