.home {
    justify-content: center;
    align-content: center;
    background-image: url("../assets/Logga.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 20%;
    width: 100vw;
    height: 100vh;
    
}

.home_about{
    display:flex;
    justify-content: center;
    align-items: center;

}
.home_about h1{
    animation: 1s ease-out 0s 1 textanimation;
    font-size: 3em;
}

@keyframes textanimation{
    0%{
        transform: translateY(3em);
        opacity: 0%
        
    }
    100% {
        transform: translateY(0em);
        opacity: 100%
    }
}


